body {
    margin: 0;
    padding: 0;
    background: url(../Media/Logos/land.JPG);
    /*background-color: white;*/
    background-size: 650px;
    /*text-align: justify;*/
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #2c86c9;
    background-color: white;
    /*overflow: scroll;*/
}

#page
{
    margin: auto;
    /*padding: 25px;*/
    width: 1250px;
    height: auto;
    /*position: fixed;*/
}

a
{
    text-decoration:none;
    color: black;
}

.button a
{
    text-decoration:none;
    color: white;
}

.button a:hover
{
    text-decoration:none;
    color: #E36833;
}

#spacer
{
    width: 100%;
    height:10px;
    /*background-color: #417F5E;*/
}


#footer {
    width: 100%;
    /*height: 15px;*/

    background-color: white;

    text-align:center;
    font-size:13px;
    color: #417f5e;
    float: left;


}

.footerElement{
    width: 25%;
    height: 100%;
    float: left;
    padding-top:10px;
    padding-bottom: 10px;
}
.footerElementL{
    width: 25%;
    height: 100%;
    float: left;
    padding-top: 0px;
    padding-bottom: 0px;
}

.button{border:none;display:inline-block;height:30px; font-size: 15px; width: 40px;vertical-align:middle;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.buttonColor{color:white;background-color:#417F5E}
.buttonColor:hover{color:#E36833;background-color: #417F5E}
